* {
  margin: 0;
}
.app {
  background: #fafafa;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postsRight {
  margin-left: 20px;
}
.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app__headerImage {
  object-fit: contain;
}
.app__signup {
  display: flex;
  flex-direction: column;
}
.beAbleToUpload {
  text-align: center;
  position: sticky;
  bottom: 0;
  background: rgba(173, 216, 230, 0.459);
  padding: 5px 0;
  font-weight: 500;
}
.app > .beAbleToUpload > .beAbleToUpload__signIn {
  background: #fff;
  border: 1px solid rgb(115, 184, 207);
}
.app > .beAbleToUpload > .beAbleToUpload__signIn:hover {
  background: #f4f4f4;
}
